<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Janinalaine</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <div class="header">
    <div class="oblong-nav">
      <a href="#about">about</a>
      <a href="#projects">projects</a>
      <a href="#contact">contact me</a>
    </div>
  </div>

  <p style="line-height: 1; text-align: center;">
    <span class="typewriter">Hello world, I am</span><br>
    <span class="fade-in delay-2 name-title"> Janinalaine</span>
  </p>

  <p class="subtitle">-a developer with experience in building web apps, automating workflows, and working with data. </p>
</body>
</html>
